@define-color bg #29262e;
@define-color bg2 #19171c;
@define-color fg #8b8792;
@define-color txt #8b8792;
@define-color orange #ad7b6a;
@define-color yellow #a08061;
@define-color green #5d8686;
@define-color blue #5f7e94;
@define-color red #924f58;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @bg2;
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 3px;
	border: none;
	background: @bg2;
}

#workspaces button.active {
    color: @txt;
}

#workspaces button.focused {
    color: @yellow;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @green;
    border-radius: 10px;
}

#workspaces button:hover {
	color: @txt;
	border-color: @bg2;
    /* border-radius: 5px; */
}

#custom-wallpaper,
#custom-power,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
    background: @bg2;
    opacity: 0.8;
    padding: 0px 6px;
    /* margin-top: 5px; */
	/* margin-bottom: 5px; */
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: @bg2;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
	border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-spotify {
	/* margin: 10px; */
	color: @green;
}

#custom-theme {
	color: @txt;
	padding: 0 4px;
}

#custom-target {
	color: @red;
}

#clock {
    /* color: @orange; */
    color: @fg;
    border-radius: 10px 10px 10px 10px;
	/* margin-left: 3px; */
	margin-right: 6px;
    border-right: 0px;
}

#network {
    /* color: @yellow; */
    color: @fg;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    /* color: @blue; */
    color: @fg;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    /* color: @blue; */
    color: @fg;
	border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    /* color: @green; */
    color: @fg;
    border-radius: 10px;
    /* margin-right: 10px; */
    border-left: 0px;
}
#battery.warning {
    color: @orange;
}
#battery.critical {
    color: @red;
} 

#custom-power {
	color: @red;
	color: @fg;
	padding-right: 12px;
	border-radius: 10px;
	margin-right: 10px;
}

menu {
	padding: 15px;
	border-radius: 15px;
	background: @bg2;
	color: #cdd6f4;
}
menuitem {
	border-radius: 5px;
}
menuitem:hover {
	background-color: @bg2;
}


/* Right bar */
#custom-spotify {
	margin: 15px;
	color: @green;
}

#image {
	margin-top: 20px;
	border-radius: 20px;
}

#music {
	margin: 0 50px 15px 50px;
}

#custom-prev,
#custom-pause,
#custom-next {
	margin: 0 10px 0 10px;
	color: @txt;
}

#custom-prev:hover,
#custom-pause:hover,
#custom-next:hover {
	color: @bg2;
	transition: all 0.3s ease;
}


